.navbar-default .navbar-brand {
    color: #F30000;
    font-size: 21px;
}
.navbar-default .navbar-nav > li > a {
    color: #337ab7;
    font-size: 19px;
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    color: #333;
    background-color: transparent;
}