/* You can add global styles to this file, and also import other style files */
body {
    background: url(./assets/img/page-background.png) repeat;
}
.alert p{
    font-size: 16px;
}

.panel-heading h3{
    padding: 0px;
    margin: 0px;
}
